<header>
    <div class="row">
        <div class="large-6 medium-6 small-12 columns">
            <div class="logo">
                Профессиональная бесплатная<br/>
                юридическая помощь
            </div>
        </div>
        <div class="large-6 medium-6 small-12 columns">
            <div class="phone">
                +7(495) 123-45-67
            </div>
            <div class="button-area">
                <a href="#" class="button">заказать обратный звонок</a>
            </div>
        </div>
    </div>
</header>

<div class="page">
    <div class="row">
        <div class="large-12 columns">

            <div class="welcome">

                <div class="text">
                    <h3>Нуждаетесь в бесплатной консультации юриста?</h3>

                    <p>Заполните форму ниже или <a href="#">закажите обратный звонок</a> и получите ответ через
                        <span>7</span> минут.</p>
                </div>

            </div>

            <div class="form">
                <div class="row">
                    <div class="large-3 columns">

                    </div>
                    <div class="large-9 columns">
                        <h3>Заполните форму заявки и ждите звонка</h3>

                        <form method="get">

                            <div class="row">
                                <div class="large-4 columns">
                                    <input type="text" placeholder="город">
                                    <input type="text" placeholder="имя">
                                    <input type="text" placeholder="№ телефона">
                                </div>
                                <div class="large-8 columns">
                                    <textarea placeholder="введите вопрос"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="large-6 columns">
                                    <span>Ваши данные не будут переданы третьим лицам.</span>
                                </div>
                                <div class="large-6 columns">
                                    <a href="#" class="button button_on_page form-button">отправить вопрос</a>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>

            </div>

            <div class="box-area">
                <div class="row">
                    <div class="large-3 medium-3 small-3 columns">
                        <div class="box">
                            <a href="#" class="pen">
                                Заполните форму
                                заявки или закажите
                                обратный звонок.
                            </a>
                        </div>
                    </div>
                    <div class="large-3 medium-3 small-12 columns">
                        <div class="box">
                            <a href="#" class="girl">
                                Юрист перезвонит и
                                расскажет о этапах
                                решения проблемы.
                            </a>
                        </div>
                    </div>
                    <div class="large-3 medium-3 small-3 columns">
                        <div class="box">
                            <a href="#" class="list">
                                Поможем собрать
                                все необходимые
                                документы для дела.
                            </a>
                        </div>
                    </div>
                    <div class="large-3 medium-3 small-3 columns">
                        <div class="box">
                            <a href="#" class="flag">
                                Доведем дело
                                до логического конца.
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="comments-area">
                <h4><%= @record.keyword %></h4>

                <div class="comment-list">

                    <!--<div class="comment">-->

                        <!--<div class="ava">-->
                            <!--<a href="#"><img src="img/ava1.jpg"/> </a>-->
                        <!--</div>-->

                        <!--<div class="comment-body">-->
                            <!--<h4>Бурова Елена Ф., Екатеринбургг</h4>-->

                            <!--<p>Мой отчим уверяет меня, что в случае его смерти его земельный участок достанется моей-->
                                <!--маме. Собственность оформлялась,-->
                                <!--когда моя мама и отчим были уже в браке, но во всех документах собственником является-->
                                <!--отчим. Документов-->
                                <!--подтверждающих, что моя мама принимала участие в покупке земельного участка, нет. И у-->
                                <!--него имеются два-->
                                <!--совершеннолетних сына. На что я могу рассчитывать?-->
                            <!--</p>-->

                        <!--</div>-->

                        <!--<div class="clearfix"></div>-->

                        <!--<div class="comment-respond">-->
                            <!--<div class="ava">-->
                                <!--<a href="#"><img src="img/ava2.jpg"/> </a>-->
                            <!--</div>-->

                            <!--<div class="comment-body">-->
                                <!--<h4>Мария Лопаткова, юрист</h4><span class="stars"></span>-->

                                <!--<p><strong>Статья 1149</strong></p>-->

                                <!--<p>-->
                                    <!--В случае смерти вашего отчима ваша мама сможет выделить супружескую долю, т. е. ½-->
                                    <!--долю-->
                                    <!--земельного участка. Если отчим не напишет завещание, то его ½ доля разделится между-->
                                    <!--наследниками первой очереди (детьми, супругой и родителями).-->
                                <!--</p>-->

                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="comment-link">-->
                            <!--<a href="#">свернуть</a>-->
                        <!--</div>-->

                    <!--</div>-->

                    <!--<div class="comment">-->

                        <!--<div class="ava">-->
                            <!--<a href="#"><img src="img/ava3.jpg"/> </a>-->
                        <!--</div>-->

                        <!--<div class="comment-body">-->
                            <!--<h4>Виктор Васюткин, Санкт-Петербург</h4>-->

                            <!--<p>Мой отчим уверяет меня, что в случае его смерти его земельный участок достанется моей-->
                                <!--маме. Собственность оформлялась,-->
                                <!--когда моя мама и отчим были уже в браке, но во всех документах собственником является-->
                                <!--отчим. Документов-->
                                <!--подтверждающих, что моя мама принимала участие в покупке земельного участка, нет. И у-->
                                <!--него имеются два-->
                                <!--совершеннолетних сына. На что я могу рассчитывать?-->
                            <!--</p>-->

                        <!--</div>-->
                        <!--<div class="comment-link">-->
                            <!--<a href="#">читать ответ</a>-->
                        <!--</div>-->

                    <!--</div>-->

                    <!--<div class="comment">-->

                        <!--<div class="ava">-->
                            <!--<a href="#"><img src="img/ava4.jpg"/> </a>-->
                        <!--</div>-->

                        <!--<div class="comment-body">-->
                            <!--<h4>Моника Васькова, Ижевск</h4>-->

                            <!--<p>Моя мама умерла в декабре 2010 года. Могу ли я заявить о вступлении в наследство у-->
                                <!--нотариуса в Челябинске или для этого-->
                                <!--необходимо ехать по месту нахождения наследства — во Владимирскую область?-->
                            <!--</p>-->

                        <!--</div>-->
                        <!--<div class="comment-link">-->
                            <!--<a href="#">читать ответ</a>-->
                        <!--</div>-->

                    <!--</div>-->
                    <% @content.each do |content| %>

                    <div class="comment">

                        <div class="ava">
                            <%= image_tag("rss.jpg", :alt => "rss feed") %>
                        </div>

                        <div class="comment-body">
                            <h4><%= content["author"]["name"] %></h4>

                            <p><%= content["question"] %></p>

                        </div>

                        <div class="clearfix"></div>

                        <div class="comment-respond">
                            <div class="ava">
                                <%= image_tag("rss.jpg", :alt => "rss feed") %>
                            </div>

                            <div class="comment-body">
                                <h4><%= content["answer"] %></p></h4><span class="stars"></span>

                                <p>
                                <p><%= content["banswer"] %></p>
                                </p>

                            </div>
                        </div>

                        <div class="comment-link  new-cursor">
                            свернуть
                        </div>

                    </div>
                    <% end %>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="page-bottom">

    <div class="row">
        <div class="large-12 columns">
            <h3>
                <span>актуальные темы:</span>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="large-4 medium-12 small-12 columns">
            <ul>
                <% @urls.first(7).each do |url| %>
                <li><%= link_to url.keyword, controller: :contents, action: :find_content, keyword: url.url %></li>
                <% end %>
            </ul>
        </div>

        <div class="large-4 medium-12 small-12 columns">
            <ul>
                <% @urls.first(14).last(7).each do |url| %>
                <li><%= link_to url.keyword, controller: :contents, action: :find_content, keyword: url.url %></li>
                <% end %>
            </ul>
        </div>

        <div class="large-4 medium-12 small-12 columns">
            <ul>
                <% @urls.last(7).each do |url| %>
                <li><%= link_to url.keyword, controller: :contents, action: :find_content, keyword: url.url %></li>
                <% end %>
            </ul>

            <div class="brush"></div>
        </div>

    </div>
</div>

<footer>
    <div class="row">
        <div class="large-3 medium-6 small-12 columns">
            <div class="number">
                <span>+7(495)</span> 123-45-67
            </div>
        </div>

        <div class="large-9 medium-6 small-12 columns">
            <div class="copy">
                <p>© domen.ru 2010 - 2014</p>

                <p>Все права защищены.</p>
            </div>
        </div>
    </div>
</footer>

<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>
