/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


audio,
canvas,
img,
video {
    vertical-align: middle;
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}



.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* =Global
-------------------------------------------------------------- */
body{
    font-family: 'Roboto', sans-serif;
    background: #fff url("bg.jpg") repeat-x;
}

.button{
    width: 205px;
    height: 48px;
    background: url("button.png") no-repeat;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    font-size: 11px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 1px 3px #670000;
    line-height: 36px;
    text-decoration: none;
    border: none;
    outline: none;
}

.button:hover{
    background: url("button-hover.png") no-repeat;
}

.button:focus{
    background: url("button-focus.png") no-repeat;
}

/* =Header
-------------------------------------------------------------- */

header{
    background-color: #3f5165;
    padding: 22px 0 0 0 ;
}

header .logo{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    background: url("logo.jpg") no-repeat left center;
    padding:10px 0 0 50px;
    line-height: 20px;
    height: 56px;
}

header .phone{
    background-image: url("phone.png");
    background-position: left center;
    background-repeat: no-repeat;
    color: #ffffff;
    display: inline-block;
    float: right;
    font-size: 18px;
    padding-left: 30px;
    text-align: right;
}

header .button-area{
    float: right;
    width: 100%;
    text-align: right;
    clear: both;
    margin-top: 5px;
}

/* =Welcome
-------------------------------------------------------------- */
.welcome{
    background-image: url("question.png");
    background-position: left center;
    background-repeat: no-repeat;
    min-height: 110px;
    padding-left: 280px;
}

.welcome h3{
    font-size: 24px;
    color: #3f5165;
    font-family: 'PT Sans', sans-serif;
    margin: 40px 0 0 0;
}

.welcome p{
    font-size: 16px;
    color: #3f5165;
    margin: 0;
}

.welcome p a{
    color: #3f5165;
    text-decoration: underline;
}

.welcome p span{
    color: #fd0000;
    font-size: 22px;
}

/* =form
-------------------------------------------------------------- */
.form{
    background: #ffffff;
    box-shadow: 0px 0px 12px #ddd;
    padding-bottom: 20px;
    position: relative;
}

.form:after{
    position: absolute;
    background-image: url("woman.png");
    background-repeat: no-repeat;
    content: " ";
    display: block;
    height: 406px;
    width: 232px;
    bottom: 0;
}

.form h3{
    color: #202c42;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 24px 0;
}

.form input[type="text"]{
    border: 1px solid #d6d6d6;
    height: 36px;
    line-height: 36px;
    width: 100%;
    padding-left: 12px;
    margin-bottom: 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.form textarea{
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    width: 90%;
    padding: 15px;
    height: 140px;
    resize: none;
    -webkit-border-radius: 4px;
}

.form span{
    color: #696969;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

.form .form-button{
    float: right;
    margin-right: 36px;
}

/* =Box area
-------------------------------------------------------------- */
.box-area{
    width: 100%;
    margin-top: 45px;
}

.box-area .box{
    width: 100%;
    background: #eef5f8;
    border: 1px solid #d5e0ed;
    min-height: 125px;
    padding: 30px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.box-area .box a{
    display: inline-block;
    font-size: 14px;
    color: #202c42;
    padding: 0 0 0 30px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 0 center;
}

.box-area .box a.pen{
    background-image: url("pen.jpg");
}

.box-area .box a.girl{
    background-image: url("girl.jpg");
}

.box-area .box a.list{
    background-image: url("list.jpg");
}

.box-area .box a.flag{
    background-image: url("flag.jpg");
}


/* =Comments
-------------------------------------------------------------- */
.comments-area{
    font-family: 'PT Sans', sans-serif;
}

.comments-area h4{
    font-size: 30px;
    color: #3f5165;
    font-weight: bold;
    text-transform: uppercase;
}
.comments-area .comment-list{}

.comments-area .comment-list .comment{
    padding: 24px 0;
    float: left;
    width: 100%;
    border-top: 1px solid #eeeeee;
}

.comments-area .comment-list .comment .ava{
    display: inline-block;
    width: 105px;
    vertical-align: top;
}

.comments-area .comment-list .comment .ava img{
    border-radius: 50%;
    border: 1px solid #e2e5e9;
}

.comments-area .comment-list .comment .comment-body{
    border: 1px solid #e2e5e9;
    padding: 20px 30px;
    display: inline-block;
    max-width: 830px;
    float: right;
    position: relative;
}

.comments-area .comment-list .comment .comment-body:after{
    position: absolute;
    background-image: url("comment-arrow.jpg");
    background-repeat: no-repeat;
    content: " ";
    display: block;
    height: 28px;
    width: 16px;
    top: 29px;
    left: -16px;
}


.comments-area .comment-list .comment .comment-body h4{
    color: #3f5165;
    font-size: 16px;
    margin: 0;
}

.comments-area .comment-list .comment .comment-body p{
    color: #6a6a6a;
    font-size: 14px;
}


.comments-area .comment-list .comment .comment-respond{
    margin-left: 140px;
    margin-top: 32px;
}


.comments-area .comment-list .comment .comment-respond .ava{
    display: inline-block;
    width: 105px;
    vertical-align: top;
}

.comments-area .comment-list .comment .comment-respond .ava img{
    border-radius: 50%;
    border: 1px solid #e2e5e9;
}

.comments-area .comment-list .comment .comment-respond .comment-body{
    border: 1px solid #e2e5e9;
    padding: 20px 30px;
    display: inline-block;
    max-width: 700px;
    float: right;
    position: relative;
    background-color: #f8fcff;
}

.comments-area .comment-list .comment .comment-respond .comment-body:after{
    position: absolute;
    background-image: url("comment-arrow-respond.jpg");
    background-repeat: no-repeat;
    content: " ";
    display: block;
    height: 28px;
    width: 16px;
    top: 29px;
    left: -16px;
}

.comments-area .comment-list .comment .comment-respond .comment-body h4{
    display: inline-block;
}

.comments-area .comment-list .comment .comment-respond .comment-body .stars{
    background-image: url("stars.png");
    background-repeat: no-repeat;
    width: 115px;
    height: 18px;
    text-align: right;
    display: inline-block;
    float: right;
}


.comments-area .comment-list .comment .comment-link{
    float: left;
    width: 100%;
    text-align: right;
}

.comments-area .comment-list .comment .comment-link a{
    font-style: italic;
    font-size: 14px;
    color: #1869b0;
    border-bottom: 1px dotted #1869b0;
    text-decoration: none;
}

.comments-area .comment-list .comment .comment-link a:hover{
    color: #3f5165;
    border-bottom: 1px dotted #3f5165;
}

.comments-area .comment-list .comment .comment-link a:focus{
    color: #3f5165;
    border-bottom: 1px dotted #3f5165;
}

/* =Page bottom
-------------------------------------------------------------- */
.page-bottom{
    background-color: #ebf6fa;
    padding: 60px 0;
}

.page-bottom h3{
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    color: #3f5165;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #b3d5e1;
}

.page-bottom h3 span{
    background: #ebf6fa;
    padding: 0 30px;
    position: relative;
    top: -24px;
}

.page-bottom ul li{
    margin-bottom: 8px;
}
.page-bottom ul li a{
    color: #3f5165;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.page-bottom ul li a:hover{
    color: #778da6;
}

.page-bottom ul li a:focus{
    color: #a9bed7;
}

.page-bottom .brush{
    background-image: url("brush.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 133px;
    position: absolute;
    right: 0;
    width: 182px;
}

/* =Footer
-------------------------------------------------------------- */
footer{
    background: #3f5165;
    padding: 30px 0;
    color: #ffffff;
}


footer .number{
    font-size: 24px;
}

footer .number span{
    font-size: 18px;
}

footer .copy{
    text-align: left;
}

footer .copy p{
    margin: 0;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}





@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
