<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name='yandex-verification' content='491fa3000fe6a3c3' />
    <meta name="google-site-verification" content="N_nGPZaPiBcDucGlliHlhwRujBuQLhMYWKFhzlcoc54" />
    <meta name="description" content="Проведение юридических консультаций в бесплатно" />
    <title><%= content_for?(:title) ? yield(:title).capitalize + ' - Juristsovet' : "Бесплатная юридическая консультация - Juristsovet" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%#= javascript_include_tag "vendor/modernizr.min" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    <div id="myModal" title="Уведомление">
      Благодарим за заявку. Скоро с вами свяжется адвокат!
    </div>

    <%= javascript_include_tag "application" %>
    <script type="text/javascript"
            src="http://api.leadiacloud.com/wi1.js?p=lawyer&w=5282&t=fabric&ft=fabricform&color=blue&f=roboform"></script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter28793021 = new Ya.Metrika({id:28793021,
                            webvisor:true,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/28793021" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Google analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60283372-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- /Google analytics -->

  </body>
</html>